{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>

        <div class="col-md-{{ leftCol ?? 5 }}">
            {% if article.featuredImage %}
            <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}"
                    loading="lazy" width="300" height="250">
            </a>
            {% endif %}
        </div>
        <hr>

        {{ article.content|raw }} 

        <h2 class="comment-title mt-5">
            <span class="comment-count">{{ article.comments|length }} </span> commentaire(s)
        </h2>

        <hr>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="comment-area">
                {{ form(commentForm, { 'attr': { 'class': 'comment-form' } }) }}
            </div>
        {% endif %}
        

        <div class="comment-list mt-5">
        {% for comment in comments %}
        {% include 'comment/index.html.twig' with [comment] %}
            
        {% endfor %}
        </div>
    </div>
{% endblock %}
